<!--
  <div class="content">

  <h2> Meet our Employees</h2>

  <ul *ngIf="$employees">
    <li *ngFor="let employee of $employees">
      #{{employee.id}} - Name: {{employee.name}} - About Me: {{employee.aboutMe}}
    </li>
  </ul>
</div>

-->

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a (click)="ourEmployees()" class="card">Our emplyees</a></li>
    <li><a (click)="contactInfo()" class="card">Contact info</a>
  </ul>
</nav>

<div class="content">
  <div *ngIf="shouldShowContact; else showEmployees">
    <ul>
      <li>+31 20 82 81</li>
      <li><a href="mailto: test@vores-site.dk">test@vores-site.dk</a></li>
    </ul>
  </div>
</div>

<ng-template #showEmployees>
  <ul *ngIf="$employees">
    <li *ngFor="let employee of $employees">
      #{{employee.id}} - Name: {{employee.name}} -- About me: {{employee.aboutMe}}
    </li>
  </ul>
</ng-template>