<!--
  <div class="content">

  <h2> Meet our Employees</h2>

  <ul *ngIf="$employees">
    <li *ngFor="let employee of $employees">
      #{{employee.id}} - Name: {{employee.name}} - About Me: {{employee.aboutMe}}
    </li>
  </ul>
</div>

-->

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a (click)="contactInfo()" class="card">Contact info</a>
    <li><a (click)="ourEmployees()" class="card">Our emplyees</a></li>
  </ul>
</nav>

<div class="content">
  <div *ngIf="shouldShowEmployees; else showContact">
    <ul *ngIf="$employees">
      <li *ngFor="let employee of $employees">
        #{{employee.id}} - Name: {{employee.name}} -- About me: {{employee.aboutMe}}
      </li>
    </ul>

  </div>
</div>

<ng-template #showContact>
  <div class="contactDetails">
    <div class="card phone">
      <p>+31 20 82 81</p>
    </div>
    <div class="card email">
      <a href="mailto: test@vores-site.dk">test@vores-site.dk</a>
      <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
  </div>
</ng-template>