$width: 256px;
$input-length: 160px;
$shadow: 0px 0px 5px 1px #eee;

$top: 15px;
$left: 15px;

div {
  &.newUser {
    padding: 4px,4px,4px,20px;
    width: $width;
    align-self: center;
    justify-self: center;
    height: 150px;
    //background-color: #32659822;

    box-shadow: $shadow;
    text-align: center;

    form {

      label {
        margin-left: 15px;
      }

      input {
        float: right;
        margin-right: 13px;
        width: $input-length;
        height: 12px;
      }

      button {
        width: 90%;
        height: 25px;
      }
    }
  }

  &.existingUser {
  }
}

.container{
  width: 100%;
  height: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid blue;
}

.wrapper{
  border: 1px solid red;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bodyWrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
}

.body{
  width: 300px;
  align-self: center;
  justify-self: center;
  padding-bottom: 20px;
}

.existingUser{
  background: white;
  height: 100%;
  box-shadow: $shadow;
}

.welcomeText{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px;
}
