$height: 150px;
$width: 256px;
$input-length:160px;

div {
  &.newUser {
    height: $height;
    width: $width;
    background-color: #32659822;

    text-align: center;

    form {
      input {
        float: right;
        margin-right: 2px;
        width: $input-length;
        height: 12px;
      }

      button {
        width: 100%;
        height: 25px;
      }
    }
  }

  &.existingUser {
  }
}
