<p>booking works!</p>

<label>Type in your phone number</label>
<input type="text" id="phoneNumber" [formControl]="syncPhoneNr" [value]="syncPhoneNr.value">
<button (click)="checkPhone()">Submit</button>

<div *ngIf="!userAvailable() && getPhoneCheckedOnce()">
  we need to add you to our system

  <form [formGroup]="customerForm" (ngSubmit)="CreateCustomer()">

    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <br>

    <label for="phone">Phone: </label>
    <input id="phone" type="text" formControlName="phoneNumber" [formControl]="syncPhoneNr" [value]="syncPhoneNr.value">
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <br>
    <button type="submit">Submit</button>

  </form>

</div>


<div *ngIf="userAvailable() && getPhoneCheckedOnce()">
  you are already in our system, welcome back {{getLoggedCustomerName()}}

  <form [formGroup]="appointmentForm" (ngSubmit)="CreateAppointment()">

    <label for="hairstyle">choose a hairstyle </label>
    <select id="hairstyle" formControlName="hairstyleId" *ngIf="$hairstyles" >
      <option *ngFor="let hairstyle of $hairstyles" value="{{hairstyle.id}}"> {{hairstyle.name}} </option>
    </select>
    <br>

    <label for="date">Date: </label>
    <input id="date" type="datetime-local" formControlName="appointmentTime">
    <label for="customerId" > </label>

    <br>
    <label for="customerId">Customer: </label>
    <select id="customerId" formControlName="customerId" *ngIf="$loggedCustomer" >
      <option value="{{$loggedCustomer.id}}"> {{$loggedCustomer.name}} </option>
    </select>

    <br>
    <label for="employee">Employee: </label>
    <select id="employee" formControlName="employeeId" *ngIf="$employees">
      <option *ngFor="let employee of $employees" value="{{employee.id}}"> {{employee.name}} </option>
    </select>
    <br>

    <label style="color: red">Wont do anything </label>
    <button type="submit" >Submit</button>

  </form>

</div>

<br><br><br>

<h3>Stuff needed:</h3>
<ul>
    <li>Calendar</li>
    <li>Selectable calendar field
        <ul>
            <li>reveals a field in which user can enter detail</li>
            <li><b>must</b> not be clickable if time occupied</li>
        </ul>
    </li>

</ul>
