<p>booking works!</p>

<label>Type in your phone number</label>
<input type="text" id="phoneNumber">
<button (click)="checkPhone()">Submit</button>

<div *ngIf="!checkPhone()">
  we need to add you to our system

  <form [formGroup]="customerForm" (ngSubmit)="CreateCustomer()">

    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <br>

    <label for="phone">Phone: </label>
    <input id="phone" type="text" formControlName="phoneNumber">
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <br>
    <button type="submit">Submit</button>

  </form>

</div>

<div *ngIf="checkPhone()">
  you are already in our system

</div>

<br><br><br>

<h3>Stuff needed:</h3>
<ul>
    <li>Calendar</li>
    <li>Selectable calendar field
        <ul>
            <li>reveals a field in which user can enter detail</li>
            <li><b>must</b> not be clickable if time occupied</li>
        </ul>
    </li>

</ul>
