<p>For Employees</p>




<form *ngIf="!jwt else logoutTemp" [formGroup]="loginForm" (ngSubmit)="login()">

  <label for="username">Username: </label>
  <input id="username" type="text" formControlName="username">

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password">

  <button type="submit">Login</button>

</form>

<p>username: Knud password: 123456 </p>
<ng-template #logoutTemp>
  <button (click)="logout()" style="margin: 5px">Logout</button>

</ng-template>


