<!--
  <nav role="navigation" class="primary-navigation">
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li><a>Bookings &dtrif;</a>
      <ul class="dropdown">
        <li><a routerLink="bookings/booking">Booking</a></li>
        <li><a routerLink="bookings/hairstyles">Hairstyles</a></li>
        <li><a routerLink="bookings/information">Information</a></li>
      </ul>
    </li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="auth/ehome">For Employees</a></li>
  </ul>
</nav>
-->

<h1>Welcome {{getLoggedEmployeeName()}}!</h1>

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a routerLink="../" class="card">Logout</a></li>
    <li><a  class="card">Customers &dtrif;</a>
      <ul class="dropdown">
        <li><a (click)="click_allCustomers()">All Customers</a></li>
        <li><a (click)="click_AddCustomer()">Add Customer</a></li>
      </ul>
    </li>
    <li><a  class="card">Appointments&dtrif;</a>
      <ul class="dropdown">
        <li><a (click)="showingAppointments()">All Appointments</a></li>
        <li><a (click)="showingMyAppointments()">My Appointments</a></li>
        <li><a (click)="ManageAppointments()">Manage Appointments</a></li>
      </ul>
    </li>
    <li><a  class="card">Hairstyles &dtrif;</a>
      <ul class="dropdown">
        <li><a (click)="click_allHairstyles()">All Hairstyles</a></li>
        <li><a (click)="click_manageHairstyles()">Manage Hairstyles</a></li>
        <li><a (click)="click_AddHairstyle()">Add Hairstyle</a></li>
      </ul>
    </li>
  </ul>
</nav>


<div class="content">

  <div *ngIf="showing == customers">
    <ul *ngIf="$customers">
      <li *ngFor="let customer of $customers">
        #{{customer.id}} - Name: {{customer.name}} - PhoneNumber: {{customer.phoneNumber}} - Email: {{customer.email}}
      </li>
    </ul>
  </div>

  <form *ngIf="showing == addCustomer" [formGroup]="customerForm" (ngSubmit)="CreateCustomer()">

    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <br>

    <label for="phone">Phone: </label>
    <input id="phone" type="text" formControlName="phoneNumber">
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <br>
    <button type="submit">Submit</button>

  </form>

  <div *ngIf="showing == appointments">
    <ul *ngIf="$appointments">
      <li *ngFor="let appointment of $appointments">

        #{{appointment.id}} - Customer: {{getCustomerNameById(appointment.customerId)}} Date:
        {{appointment.appointmentTime}} - Employee: {{getEmployeeNameById(appointment.employeeId)}}
      </li>
    </ul>
  </div>

  <div *ngIf="showing == myAppointments">
    <ul *ngIf="$appointmentsByLoggedEmployee">
      <li *ngFor="let appointment of $appointmentsByLoggedEmployee">

        #{{appointment.id}} - Customer: {{getCustomerNameById(appointment.customerId)}} Date:
        {{appointment.appointmentTime}} - Employee: {{getEmployeeNameById(appointment.employeeId)}}
      </li>
    </ul>
  </div>

  <div *ngIf="showing == manageAppointments">
    <label>manage</label>
    <br>
    <label for="manageAppointments_chosenAppointmentId">Manage this hairstyle: </label>
    <select id="manageAppointments_chosenAppointmentId" *ngIf="$appointments" (change)="chooseAppointment()">
      <option *ngFor="let appointment of $appointments" value="{{appointment.id}}">Employee: {{getEmployeeNameById(appointment.employeeId)}}, Time {{appointment.appointmentTime}}, Customer {{getCustomerNameById(appointment.customerId)}} </option>
    </select>

    <div *ngIf="$manageAppointments_chosenAppointment">
      <h3> Appointment details: </h3>

      <form [formGroup]="appointmentForm" (ngSubmit)="UpdateAppointment($manageAppointments_chosenAppointment)">

        <label for="manageAppointments_hairstyleStarter">choose a your current hairstyle </label>
        <select id="manageAppointments_hairstyleStarter" formControlName="hairstyleStarterId" *ngIf="$starterStyles" (change)="manageAppointments_chooseStarterStyle()" >
          <option *ngFor="let hairstyle of $starterStyles" value="{{hairstyle.id}}" > {{hairstyle.name}} </option>
        </select>
        <br>

        <label for="manageAppointments_hairstyleEnd">choose a your desired hairstyle </label>
        <select id="manageAppointments_hairstyleEnd" formControlName="hairstyleEndId" >
          <option *ngFor="let hairstyle of $manageAppointments_possibleHairstyles" value="{{hairstyle.id}}" > {{hairstyle.name}} </option>
        </select>
        <br>

        <label for="date">Date: </label>
        <input id="date" type="datetime-local" formControlName="appointmentTime">

        <br>
        <label for="customerId">Customer: </label>
        <select id="customerId" formControlName="customerId" >
          <option value="{{$manageAppointments_chosenAppointment.customerId}}"> {{getCustomerNameById($manageAppointments_chosenAppointment.customerId)}} </option>
        </select>

        <br>
        <label for="employee">Employee: </label>
        <select id="employee" formControlName="employeeId" *ngIf="$employees">
          <option *ngFor="let employee of $employees" value="{{employee.id}}"> {{employee.name}} </option>
        </select>
        <br>
        <button type="submit" >Update</button>

      </form>

    </div>

  </div>

  <div *ngIf="showing == hairstyles">
    <ul *ngIf="$hairstyles">
      <li *ngFor="let hairstyle of $hairstyles">
        #{{hairstyle.id}} - Name: {{hairstyle.name}} - Time: {{hairstyle.estimatedTime}}
      </li>
    </ul>
  </div>

  <form *ngIf="showing == addHairstyle" [formGroup]="hairstyleForm" (ngSubmit)="CreateHairstyle()">

    <label for="hairstuleName">Name: </label>
    <input id="hairstuleName" type="text" formControlName="name">
    <br>
    <label for="estimatedTime">Estimated Time: </label>
    <input id="estimatedTime" type="number" formControlName="estimatedTime">
    <br>
    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description">
    <br>
    <label for="price">Price: </label>
    <input id="price" type="number" formControlName="price">
    <br>
    <!--<label for="possibleStyles">Possible Styles: </label>
    <input list="possibleStyles" formControlName="possibleStyles" >

    <datalist id="possibleStyles">
      <option value="5">
      <option value="7">
    </datalist>
    <br>-->
    <label for="isStarterHairstyle">Is Starter Style: </label>
    <input id="isStarterHairstyle" type="checkbox" formControlName="isStarterHairstyle">
    <br>
    <button type="submit">Submit</button>

  </form>

  <div *ngIf="showing == manageHairstyle">
    <label>manage</label>
    <br>
    <label for="hairstyleId">Manage this hairstyle: </label>
    <select id="hairstyleId" *ngIf="$hairstyles" (change)="chooseHairstyle()">
      <option *ngFor="let hairstyle of $hairstyles" value="{{hairstyle.id}}"> {{hairstyle.name}} </option>
    </select>
    <br>
    <label>Add this hairstyle to possible styles: </label>
    <select id="possibleHairstyleId" *ngIf="$hairstyles" (change)="choosePossibleHairstyle()">
      <option *ngFor="let hairstyle of $hairstyles" value="{{hairstyle.id}}"> {{hairstyle.name}} </option>
    </select>
    <br>
    <button (click) = "addToPossibleStyle($chosenPossibleHairstyle)" type="submit">Submit</button>
  </div>

</div>
