

<li><a routerLink="../">Logout</a></li>
<li><a>Customer &dtrif;</a>
  <ul class="dropdown">
    <li><a (click)="allCustomers()" >All Customers</a></li>
  </ul>

<li><a>Appointments&dtrif;</a>
  <ul class="dropdown">
    <li><a (click)="showingAppointments()" >All Appointments</a></li>
  </ul>
</li>

  <div *ngIf="showing == appointment">
    <ul *ngIf="$appointments | async as appointments">
      <li *ngFor="let appointment of appointments">

        #{{appointment.id}} - Customer: {{setCustomerId(appointment.customerId)}} Date: {{appointment.appointmentTime}}
      </li>
    </ul>
  </div>

  <div *ngIf="showing == customers">
    <ul *ngIf="$customers | async as customers">
      <li *ngFor="let customer of customers">
        #{{customer.id}} - Name: {{customer.name}} - PhoneNumber: {{customer.phoneNumber}} - Email: {{customer.email}}
      </li>
    </ul>
  </div>

