<h2 *ngIf="$hairstyles | async as hairstyles; else errorDB">Choose your current hairstyle</h2>
<ul *ngIf="$starterStyles">
    <li id="{{hairstyle.id}}" *ngFor="let hairstyle of $starterStyles">
      <a  (click)="ChooseHairstyle(hairstyle.id)"> Choose</a>
        Name: {{hairstyle.name}} - Description: {{hairstyle.description}}
    </li>
</ul>

<ng-template #errorDB>
    <h2>Error getting items from database...</h2>
</ng-template>


<div *ngIf="$chosenHairstyle!= undefined" >

  <h3>These are the hairstyles available based on your hair</h3>
  <ul *ngIf="$possibleHairstyles">
  <li  *ngFor="let hairstyle of $possibleHairstyles">
    #{{hairstyle.id}} - Name: {{hairstyle.name}} -Price: {{hairstyle.price}} kr. - EstimatedTime: {{hairstyle.estimatedTime}} min. - Description: {{hairstyle.description}}

  </li>
  </ul>
</div>

<br><br><br>
<h3>Stuff needed:</h3>
<ul>
    <li>Images</li>

</ul>
