$image-height:300px;
$image-width:250px;

div {
  &.Hairstyles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .col-3 {
      padding-left: 10px;
      padding-right: 10px;
      min-width: 100px;
      margin-bottom: 30px;
      display: block;

      img {
        width: $image-width;
        height: $image-height;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}