<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li><a>Bookings &dtrif;</a>
      <ul class="dropdown">
        <li><a routerLink="bookings/booking">Booking</a></li>
        <li><a routerLink="bookings/hairstyles">Hairstyles</a></li>
        <li><a routerLink="bookings/information">Information</a></li>
      </ul>
    </li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>