<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li><a href="#">Work &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>