@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
label,
button {
    font-family: arvo;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: #3ca0e7;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
